* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

ul {
  display: flex;
}

video.bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

header .banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
header .banner .logo_image img {
  height: 80px;
  margin-left: -30px;
  margin-right: -50px;
}
header .banner .logo_text {
  align-self: flex-end;
  color: white;
  padding-bottom: 20px;
  margin-right: 70px;
  font-size: 0.7rem;
}
header .banner .icon_list {
  display: flex;
  gap: 20px;
}
header .banner .icon_list li {
  list-style: none;
}
header .banner .icon_list li img {
  height: 40px;
  border: 1px solid #666;
  border-radius: 10px;
  background-color: #ddd;
  aspect-ratio: 1.2/1;
}
header .banner .banner_02 {
  margin-right: 60px;
}
header .banner .banner_02 .buttons {
  font-size: 1.2rem;
  color: white;
  gap: 50px;
}
header .banner .banner_02 .buttons li {
  list-style: none;
}

.container {
  background-color: #666;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 2px solid white;
}
.container .listcontainer {
  display: flex;
  color: white;
  justify-content: space-evenly;
  font-size: 1.1rem;
  margin-left: 50px;
  margin-right: 50px;
}

.slider {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  position: relative;
}
.slider p span {
  font-weight: 800;
  color: blue;
}
.slider .slidertext-01 {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 75vh;
  left: 20%;
  justify-content: center;
  align-items: center;
}
.slider .slidertext-01 .sliderlist {
  padding-top: 50px;
  flex-direction: column;
  padding-left: 20px;
}
.slider .slidertext-01 .sliderlist li {
  list-style: disc;
  list-style-position: inside;
  padding-bottom: 15px;
}
.slider .slidertext-02 {
  padding-left: 40px;
  font-size: 1.6rem;
  top: -50px;
}