.container {
  display: grid;
  padding: 10px;
  border: 5px solid red;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(100px, auto));
  gap: 10px;
}
.container .item {
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .item01 {
  grid-column: span 3;
}
.container .item05 {
  grid-column: span 2;
}