.container {
  display: flex;
  justify-content: space-between;
  //justify-content: center; // default는 start

  .item {
    // width: 33%;
    width: 100px;
    //가변적인 넓이를 원할때
    //height: 200px;
    border: 4px solid black;
    // 가로 세로 비율을 맞추는 콘텐츠 (flex 에서만 가능)
    aspect-ratio: 1 / 1; //(가로 / 세로) 비율, 현재는 1 대 1 비율을 가진 상태
    // 부모클래스인 item 클래스에서 display 콘텐츠를 flex로 하면 자식도 flex로 적용한다.
    display: flex;
    justify-content: center;
    align-items: center;
    // 위 쪽이 더 효율적인 방법임
    // text-align: center;
    // line-height: 100px;
  }
}
