<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<!--    <style>-->
<!--        .error{-->
<!--            color: #f00;-->
<!--            font-size: 15px;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
<!--mb는 margin-bottom의 약자-->

<div class="w-2xl m-auto mt-5 mb-5">
<form action="../member/add" method="post" th:object="${memberDto}">
    <h1 class="text-3xl font-bold mb-5">add1</h1> <br>
<!--    field를 사용할 때 햇갈리지 말아야 할 것은 '$'가 아니라 '*'기호를 사용해야한다.-->
    <div class="mb-2"><input type="text"  th:field="*{userID}" class="input validator w-full" placeholder="USER ID"></div>
    <div th:if="${#fields.hasErrors('userID')}" th:errors="*{userID}" class="validator-hint visible text-error"></div>
<!--    <div th:if="${#fields.hasErrors('userID')}" th:errors="*{userID}" class="error"></div>-->

<!--    비밀번호는 정책상 지워짐-->
    <div class="mb-2"><input type="password"  th:field="*{userPW}" class="input validator w-full" placeholder="USER PW"></div >
    <div th:if="${#fields.hasErrors('userPW')}" th:errors="*{userPW}" class="validator-hint visible text-error"></div>

    <div class="mb-2"><input type="text"  th:field="*{userName}" class="input validator w-full" placeholder="USER NAME"></div>
    <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="validator-hint visible text-error">.</div>


    <div class="mb-2"><input type="text"  th:field="*{userEmail}" class="input validator w-full" placeholder="USER EMAIL"></div>
    <div th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}" class="validator-hint visible text-error"></div>
    <div class="mt-2">
        <button class="btn btn-primary">확인</button>
    </div>
</form>
</div>
</body>
</html>