<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org">
    <title>조회 결과 </title>
</head>
<body>
<h1>detail 번호 : <span th:text="${findBoard.id}"></span> 번 <br></h1>
<div>
    사용자 아이디 : <span th:text="${findMember.userID}"></span> <br>
</div>
<!--<div>-->
<!--    &lt;!&ndash;    <a href="../member/edit" th:href="@{|/member/${findMember.id}/edit|}">수정</a>&ndash;&gt;-->
<!--    <a href="../member/edit" th:href="@{/member/{id}/edit(id=${findMember.id})}">수정</a>-->
<!--</div>-->

<!--<div>-->
<!--    &lt;!&ndash;    <a href="../member/delete" th:href="@{|/member/${findMember.id}/delete|}">삭제</a>&ndash;&gt;-->
<!--    <a href="../member/delete" th:href="@{/member/{id}/delete(id=${findMember.id})}">삭제</a>-->
<!--</div>-->
</body>
</html>