<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org">
    <title>Title</title>
</head>
<body>
<ul>
    <li th:each="item:${boardDtoList}">
<!--        <a href="" th:href="@{../board/detail/{id}(id=${item.id})}>-->
            <span th:text="${item.id}"></span>
            <span th:text="${item.title}"></span>
            <span th:text="${item.writer}"></span>
            <span th:text="${item.regDate}"></span>
            <span th:text="${item.hit}"></span>
<!--        </a>-->
    </li>
</ul>
<div>
    <a href="../board/write">도서 기입</a>
</div>
</body>
</html>