<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org">
    <title>Title</title>
</head>
<body>
    <h1>도서 기입란</h1>
    <form action="../board/write" method="post" th:object="${boardDto}">
        <div><input type="text" th:field="*{title}" placeholder="title"></div>
        <div><input type="text" th:field="*{content}" placeholder="content"></div>
        <div><input type="text" th:field="*{writer}" placeholder="writer"></div>
<!--        <div><input type="text" th:field="*{regDate}" placeholder="regDate"></div>-->
        <div><input type="text" th:field="*{password}" placeholder="password"></div>
        <div><button>도서 기입</button></div>
    </form>
</body>
</html>

