<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h1>add</h1>
<!--    만약 post 주소가 이상하다 싶으면 form에서 이상징후를 확인해봐야한다.-->
<!--action할 경로가 맞지 않으면 not found 응답을 날린다.-->
<form action="../member/add" method="post">
    <div>userID : <input type="text" name="userID"></div>
    <div>userPW : <input type="text" name="userPW"></div>
    <div>userName : <input type="text" name="userName"></div>
    <div>userEmail : <input type="text" name="userEmail"></div>
    <div>
<!--        버튼 입력 시 form action 발동-->
        <button>회원가입</button>
    </div>
</form>

</body>
</html>