<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org">
    <title>조회 결과 </title>
</head>
<body>
    <h1>detail 번호 : <span th:text="${findMember.id}"></span> 번 <br></h1>
    <div>
        사용자 아이디 : <span th:text="${findMember.userID}"></span> <br>
        사용자 비밀번호 : <span th:text="${findMember.userPW}"></span> <br>
        사용자 이름 : <span th:text="${findMember.userName}"></span> <br>
        사용자 이메일 : <span th:text="${findMember.userEmail}"></span> <br>
    </div>
<div>
<!--    <a href="../member/edit" th:href="@{|/member/${findMember.id}/edit|}">수정</a>-->
    <a href="../member/edit" th:href="@{/member/{id}/edit(id=${findMember.id})}">수정</a>
</div>

<div>
<!--    <a href="../member/delete" th:href="@{|/member/${findMember.id}/delete|}">삭제</a>-->
    <a href="../member/delete" th:href="@{/member/{id}/delete(id=${findMember.id})}">삭제</a>
</div>
</body>
</html>