body {
  .item-list {
    // vw 모니터의 너비, vh 모니터의 높이
    width: 100vw;
    height: 100vh;
    display: flex;
    // row가 디폴트(기본값)
    flex-direction: row;
    // row의 x축은 main축, y축은 cross축
    // column의 x축은 cross축 y축은 main축
    // 방향에 따라서 main, cross가 달라진다.
    gap: 20px; // 사이가 벌어짐, 간격 띄우기
    justify-content: space-between; // start가 기본값 end: 오른쪽 맨끝, center: 중앙
    // space-around는 간격이 일정하고 페이지에 맞게 사용 : 왼쪽 끝, 오른쪽 끝의 공백이 다른것들과 다르다.
    // space-evenly는 균등한 간격을 무조건 일정하게 갖는다.
    // space-between은 양옆 페이지에 간격을 없애고 그 사이의 간격을 일정하게 유지
    align-items: center;
  }
  font-family: "Noto Sans KR";
  font-weight: 500;
  .item {
    width: 300px;
    border: 2px solid green;
    position: relative;
    // 부모가 position을 가져야지 자식이 비율을 맞출 수 있다.
    .rank {
      position: absolute;
      background-color: greenyellow;
      color: white;
      // width의 비율을 맞추기 위해 부모의 position을 맞출 수 있다.
      width: 17%;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      text-align: center;
      // border-top-left-radius: 10px;
      // border-bottom-right-radius: 10px;
      border-radius: 10px 0px 10px 0px;
    }
    .image-box {
      img {
        // 이미지는 position이 없어도 비율을 자동으로 맞출 수 있다.
        width: 100%;
        border-radius: 10px;
      }
    }
    .info {
      &__title {
        font-size: 20px;
      }
      &__price {
        font-size: 17px;
        .price__sale {
          &__percent {
            color: red;
          }
          &__before {
            color: gray;
            text-decoration: line-through;
          }
        }
        .price__info {
          &__text {
            font-size: 25px;
            font-weight: 700;
          }
          &__status {
            display: inline-block;
            color: skyblue;
            font-size: 15px;
            border: 2px solid;
            border-radius: 100px;
            padding: 3px 10px;
            vertical-align: middle;
            position: relative;
            top: -5px;
          }
        }
      }
      &__icon {
        margin-top: 5px;
        font-size: 0;
        // border: 2px solid black;
        width: 85px;
        height: 30px;
        background-image: url(../images/superdil.png);
        background-size: contain;
        background-repeat: no-repeat;
        padding: 2px, 10px;
      }
    }
  }
}
