* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 2000px;
}

.header {
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 100%;
  top: 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  height: 100px;
}
.header .container .logo img {
  width: 150px;
}
.header .gnb-list {
  display: flex;
}
.header .gnb-list li a {
  display: flex;
  height: 100px;
  align-items: center;
  padding: 0 50px;
}
.header .util-list {
  display: flex;
}
.header .util-list li a {
  display: flex;
  height: 100px;
  align-items: center;
  padding: 0 50px;
}

.main-visual {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-visual img {
  width: 50vw;
}
.main-visual h2 {
  font-size: 2vw;
}