body {
  height: 3000px;
}

.container {
  height: 500px;
  border: 3px solid red;
  display: flex;
  justify-content: end;
  align-items: start;
}
.container .item {
  width: 100px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.container .item01 {
  background-color: blue;
  top: 100px;
  position: sticky;
  margin-right: auto;
}
.container .item02 {
  background-color: purple;
  z-index: -1;
}
.container .item03 {
  background-color: yellow;
}