.container {
  display: grid;
  // width: 1100px;
  padding: 10px;
  border: 5px solid red;
  // grid-template-columns: 200px 200px 150px;
  // // 만약 3번쨰 row에 값을 아무것도 입력하지 않았다면 자동으로 높이 조정
  // grid-template-rows: 150px 150px;
  // grid-template-columns: 1fr 1fr 1fr;
  //grid-template-columns: 200px 1fr 1fr repeat(4, 2fr); // 1fr을 3번 반복
  // grid-template-columns: repeat(3, 1fr); // 1fr을 3번 반복
  // grid-template-rows: repeat(3, minmax(100px, auto));
  // row의 높이를 적용할 떄 사용하는 minmax : 1번째 인자는 100px, max는 모름 자동
  // columns도 적용이 가능하나 보통은 잘 쓰지 않는다.

  // grid-template-columns: repeat(auto-fit, minmax(20%, auto));
  // grid-template-columns: repeat(auto-fill, minmax(30%, auto));

  grid-template-columns: repeat(3, 1fr);
  // 휘하의 높이를 지정하는 방법이 두가지가 있음
  grid-template-rows: repeat(3, minmax(100px, auto));
  //grid-auto-rows: auto;
  gap: 10px; //gap은 격자 사이에서만 적용됨.

  // auto-fill은 남기는 거고, fit은 채우는 것
  // fr은 fraction이라는 의미
  .item {
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item01 {
    // grid-column-start: 1;
    // grid-column-end: 3;
    // grid-row-start: 1;
    // grid-row-end: 3;
    // grid-column: 1/3;
    // grid-row: 1/3;
    // span은 칸
    grid-column: span 3; // 만약 앞단에 숫자가 없으면 현재위치에서 칸을 합침
  }
  .item05 {
    grid-column: span 2;
  }
}
