@charset "UTF-8";
.list_fixed {
  height: 60px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.title_wrap {
  display: inline-flex;
  max-width: 100%;
  height: 100%;
  align-items: center;
}

.title_wrap .title {
  overflow: hidden;
  padding-top: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
}

.school_type {
  margin-left: 4px;
}

.school_type[aria-label=가정] .sp_icon {
  background-position: -253px -62px;
  width: 26px;
  height: 16px;
}

.sp_icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url(https://test-img.land.naver.com/static/beta-service/ver/feature-828/pc/img/sprites/sp_map.png);
  background-image: url(https://test-img.land.naver.com/static/beta-service/ver/feature-828/pc/img/sprites/sp_map.svg), none;
  background-size: 283px 249px;
}

.school_type[aria-label=통학차량] .sp_icon {
  background-position: -132px -34px;
  width: 44px;
  height: 16px;
}

.sp_icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url(https://test-img.land.naver.com/static/beta-service/ver/feature-828/pc/img/sprites/sp_map.png);
  background-image: url(https://test-img.land.naver.com/static/beta-service/ver/feature-828/pc/img/sprites/sp_map.svg), none;
  background-size: 283px 249px;
}

.school_type[aria-label=공립] .sp_icon {
  background-position: -148px -206px;
  width: 26px;
  height: 16px;
}

.sp_icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url(https://test-img.land.naver.com/static/beta-service/ver/feature-828/pc/img/sprites/sp_map.png);
  background-image: url(https://test-img.land.naver.com/static/beta-service/ver/feature-828/pc/img/sprites/sp_map.svg), none;
  background-size: 283px 249px;
}